/* styles.css */
:root {
    --primary-color: #219500;
    --gradient-start: #219500;
    --gradient-end: #8CA0B3;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header, .footer {
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    color: white;
    padding: 10px;
    text-align: center;
}

.main {
    padding: 20px;
    text-align: center;
    animation: slideIn 1s ease;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #8CA0B3;
    font-size: 16px;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .main {
        font-size: 16px;
    }
}
